<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    {% load myapp_extras %}

    <form method="get">
        {{ filtered_persons.form.as_p }}
        <input type="submit" value="Press"> 
    </form>

    {% for person in person_page_obj %}
        <h2>
            {{ person.name }}
            <br>
            {{ person.gender }}
            <br>
            {{ person.age }}
            <br>
        </h2>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if person_page_obj.has_previous %}
                <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
                <a href="{% my_url person_page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{person_page_obj.number}} of {{person_page_obj.paginator.num_pages}}.
            </span>


            {% if person_page_obj.has_next %}
                <a href="{% my_url person_page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
                <a href="{% my_url person_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a>
            {% endif %}
        </span>
    </div>

</body>
</html>